.App {
  text-align: center;
  margin: 20px;
}

.App-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.section {
  margin: 20px 0;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

.no-bullets li {
  margin-bottom: 10px; /* Add space between list items */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Add space between the search input and table */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  cursor: pointer;
}

.sortable .sort-arrows {
  visibility: visible;
}

th.sort-asc .sort-arrows::before {
  content: " 🔼";
}

th.sort-desc .sort-arrows::before {
  content: " 🔽";
}

th.sort-arrows {
  display: inline-block;
  margin-left: 5px;
}
