/* App.css */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.section {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  max-width: 1200px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th.sortable {
  cursor: pointer;
}

th.sort-asc::after {
  content: "🔼";
  margin-left: 5px;
}

th.sort-desc::after {
  content: "🔽";
  margin-left: 5px;
}

.sort-arrows {
  display: inline-block;
  margin-left: 5px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

ul.no-bullets li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

ul.no-bullets li:last-child {
  border-bottom: none;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.column h2 {
  background-color: #456C86;
  color: white;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  width: 100%;
  text-align: center;
}

.column div {
  background-color: lightgrey;
  padding: 4px;
  width: 250px;
  min-height: 500px;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column div div {
  background-color: #456C86;
  color: white;
  padding: 16px;
  margin: 0 0 8px 0;
  min-height: 50px;
  border-radius: 4px;
  user-select: none;
  width: 100%;
  text-align: center;
}
